.header {
    background-color: #000000;
    
  .conteiner_header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    padding: 15px;

    .logo {
      border-color: aquamarine;
      border-radius: 3px;
      width: 180px;
      height: 130px;
      object-fit: cover;
    }
  }
  }

  .navbar {
    display: flex;
    gap: 30px;

    .nav_link {
      text-decoration: none;
      color: #7fffd4;
      font-family: 'Times New Roman', Times, serif;
      font-size: 18px;
    }
  }

  .carrito {
    width: 40px;
    height: 40px;
    object-fit: cover;
  }
  
  
  
  